python==3.13.5
docker
feedparser
trafilature
llama-index-core
llama-index-embeddings-voyageai
llama-index-llms-openai
llama-index-llms-openai-like
llama-index-postprocessor-voyageai-rerank
voyageai
litellm
python-dateutil
python-
pgvector
